<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <header>
        <div class="logo">
          <img
            src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png"
            alt=""
          />
        </div>
      </header>
      <main>
        <div class="login-container">
          <h1>Log in to Spotify</h1>
          <div class="continue-with">
            <div class="google"><img src="../images/google.png" alt=""><span>Continue with Google</span></div>
            <div class="google"><img src="../images/facebook.png" alt=""><span>Continue with Facebook</span></div>
            <div class="google"><img src="../images/apple.png" alt="apple"><span>Continue with Apple</span></div>
            <div class="google">Continue with Phone number</div>
          </div>
          <div>
            <div class="input-container">
              <label for="">Username</label>
              <input
                type="email"
                name=""
                id=""
                placeholder="Email or username"
              />
            </div>
            <div class="input-container">
              <label for="">Password</label>
              <input
                type="password"
                name=""
                id=""
                placeholder="Password"
              />
            </div>
            <div class="toggle"><i class="fa-solid fa-toggle-off fa-xl" style="color: #414448; margin: 1.2rem;"></i> Remember me</div>
          </div>
          <div><button class="bg-green next-btn">Next</button></div>
          <div class="sign-container"><a href="">Forgot your password?</a></div>
          <span class="dont">Don't have an account?<a href="./login.html">Sign up for spotify
          </a></span>
        </div>
        <footer>
          <span>This site is protected by reCAPTCHA and the Google </span>
          <span>
            <a href="">Privacy Policy</a> and <a href="">Terms of Service apply.</a>
          </span>
        </footer>
      </main>
      <script
      src="https://kit.fontawesome.com/acbfedc5b4.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>