<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup/spotify</title>
    <link rel="stylesheet" href="../styles/signup.css" />
  </head>
  <body class="bg-black">
    <header>
      <div class="logo">
        <img
          src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png"
          alt=""
        />
      </div>
    </header>
    <div class="signup-container">
      <main>
        <section>
          <div class="layout-container">
            <h1>Sign up to start listening</h1>
            <form action="">
              <div class="input-container">
                <label for="">Email address</label>
                <input
                  type="email"
                  name=""
                  id=""
                  placeholder="name@domian.com"
                />
              </div>
              <div>
                <a href="" class="text-green">Use phone number instend</a>
              </div>
              <div><button class="bg-green next-btn">Next</button></div>
            </form>
            <div class="signupwith">
              <div class="divider"><span>or</span></div>
              <div class="google"><img src="../images/google.png" alt=""><span>Sign up with Google</span></div>
              <div class="google"><img src="../images/facebook.png" alt=""><span>Sign up with Facebook</span></div>
            </div>
            <div class="login-container">
              <span>Already have an account?<a href="./login.html">Log in here</a></span>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <span>This site is protected by reCAPTCHA and the Google </span>
        <span>
        <a href="">Privacy Policy</a> and <a href="">Terms of Service apply.</a>
      </span>
      </footer>
    </div>
  </body>
</html>
